@font-face {
    font-family: 'Cvanderoso';
    src: url('pincoyablack-webfont.eot');
    src: url('pincoyablack-webfont.eot?#iefix') format('embedded-opentype'),
         url('pincoyablack-webfont.woff') format('woff'),
         url('pincoyablack-webfont.ttf') format('truetype'),
         url('pincoyablack-webfont.svg#PincoyablackBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	background: #222;
	color: #EEE;
	font-family: "Open Sans", Arial;
	font-size: 16px;
	text-align: center;
}
header
{
	
	background: url("logo.png") no-repeat 98% center,
			url("fondo.png");
	background-size: 130px ,100px 100px;
	margin: 0 0 1em 0;
	padding: 0.5em 0;
	width: 100%;
}

header h1 
{
	font-family: "Cvanderoso";
	font-size: 3em;
	margin: 0;
	text-shadow: rgba(0,0,0,0.8) 5px 5px 10px;
}

header h2
{
	margin: 0;
	font-weight: normal;
	text-shadow: rgba(0,0,0,0.75) 2px 2px 5px;
}
nav
{
	background: rgba(60,60,180,0.8);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
nav ul
{

}

nav li
{
	display: inline-block;
}

nav li a
{
	background: #D23D15;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 0.5s ease;
	-webkit- transition: all 0.5s ease;
}

nav li a:hover
{
	background: white;
	color: black;
	-webkit-transform: rotate(5deg) scale(1.2);
	transform: rotate(5deg) scale(1.2);
}

#cochecito
{
	background: white;
	color: #222;
	text-align: left;
	width: 50%;
}

#cochecito figcaption
{
	margin: 1em;
}

#cochecito img
{
	width: 100%;
}

#cochecito, #historia
{
	display: inline-block;
	vertical-align: top;
}

#historia
{	
	background: rgba(0,0,0,0.6);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	margin: 0 2% 6em 1em;
	padding: 1em;
	text-align: left;
	text-shadow: rgba(0,0,0,0.75) 2px 2px 5px;
	width: 40%;	
}